<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Error</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,300" rel="stylesheet" type="text/css">
</head>
<body>
<form action="">
    <h1>Nie masz dostępu. Proszę o ponowne załogowanie albo rejestrację nowego użytkownika.</h1>
    <a href="http://localhost:3001/rejestracja" id="rejestracja"> Rejestracja</a>
    <a href="http://localhost:3001/" id="login"> Logowanie</a>
</form>
</body>
</html>